name: Upload Python Package to PyPI when a Tag is Pushed

on:
  push:
    tags:
      - 'v*'

jobs:
  pypi-publish:
    name: Publish release to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/celldetective
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Debug Git
        run: |
            git config --global --add safe.directory /github/workspace
            git status
            git describe --tags
            php -r "print_r(shell_exec('git describe --tags'));" || echo "PHP not found, skipping"

          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel build
          
      - name: Build package
        run: |
          python -m build
          
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
